# Database settings
DATABASE_URI = "<DATABASE_URI>"

# Redis settings
REDIS_URI = "<REDIS_URI>"

# JWT settings
JWT_SECRET_KEY = "<JWT_SECRET_KEY>"
JWT_ALGORITHM = "HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES = 15

# Refresh token settings
REFRESH_TOKEN_EXPIRE_DAYS = 30

# File upload settings
UPLOAD_FOLDER_NAME = "uploads"
# allowed files types (pdf, docx)
ALLOWED_FILE_TYPES = ["application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document","application/msword"]
ALLOWED_FILE_EXTENSIONS = [".pdf", ".docx", ".doc"]
MAX_FILE_SIZE = 52428800  # 50 MB

# Admin credentials
ADMIN_GMAIL = "<ADMIN_GMAIL>"
ADMIN_PASSWORD = "<ADMIN_PASSWORD>"