# PostgreSQL Database settings
POSTGRES_URI = "POSTGRES_URI"

# Redis settings
REDIS_URI = "REDIS_URI"

# JWT settings
JWT_SECRET_KEY = "JWT_SECRET_KEY"
JWT_ALGORITHM = "JWT_ALGORITHM"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES = "JWT_ACCESS_TOKEN_EXPIRE_MINUTES"

# Refresh token settings
REFRESH_TOKEN_EXPIRE_DAYS = "REFRESH_TOKEN_EXPIRE_DAYS"